{% extends 'base.html.twig' %}

{% block title %}status List!{% endblock %}

{% block body %}

    <h1 class="title">Statuses</h1>

    <div class="sort">
        <div class="title2 title-sort">statuss list order by:</div>
            <form action="{{ path('status_index')}}" method="GET">
                <select class="select-sort" name="sort">
                    <option value="default">default</option>
                    <option value="title_az" {% if sortBy == 'title_az' %} selected {% endif %}>title</option>
                    <option value="title_za" {% if sortBy == 'title_za' %} selected {% endif %}>title reverse</option>
                </select>
                <div class="sort-btn">
                    <button class="edit" type="submit">Sort it!</button>
                </div>
            <input type="hidden" name="token" value="{{ csrf_token('') }}"/>
            </form>
            <div class="clear-btn">
                <a class="delete" action="{{ path('status_index')}}">clear</a>
            </div>
    </div>
    {% for status in statuss %}
        <div class="list-p">
            <div class="name-surname">{{status.title}}</div>
            {# {% for outfit in status.outfits %}
                <div class="count">{{outfit.type}}</div>
            {% endfor %} #}
            <div class="delete-btn">
                <form action="{{ path('status_delete', {id: status.id}) }}" method="POST">
                <button class="delete" type="submit">DELETE</button>
                </form>
            </div>
            <div class="edit-btn">
                <a class="edit" href="{{ path('status_edit', {id: status.id}) }}">Edit status</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}