{% extends 'base.html.twig' %}

{% block title %}notes List!{% endblock %}

{% block body %}
    <h1 class="title">Notes</h1>

    {# <div class="sort">
        <div class="title2 title-filter">List filter by:</div>
        <form action="{{ path('note_index')}}" method="GET">
            <select class="select-filter" name="type">
            <option value="default">View All</option>
                {% for note in notes %}
                <option value="{{note.type}}" {% if noteType == note.type %} selected {% endif %}>{{note.type}}</option>
                {% endfor %}
            </select>
            <div class="sort-btn">
                <button class="edit" type="submit">Filter it!</button>
            </div>
        </form>
        <div class="clear-btn">
            <a class="delete" href="{{ path('note_index')}}">clear</a>
        </div>
    </div> #}
    {% for note in notes %}
        <div class="list-p">
            <div class="name-prop">{{note.title}} </div>
            <div class="delete-btn">
                <form action="{{ path('note_delete', {id: note.id}) }}" method="POST">
                <button class="delete" type="submit">DELETE</button>
                </form>
            </div>
            <div class="edit-btn">
                <a class="edit" href="{{ path('note_edit', {id: note.id}) }}">Edit note</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}